<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="fragments/header :: header"></div>
<h2>商品列表</h2>

<form method="get" th:action="@{/products}">
    <input name="keyword" th:value="${keyword}">
    <button type="submit">搜索</button>
</form>

<table border="1">
    <tr><th>名称</th><th>价格</th></tr>
    <tr th:each="p : ${products}">
        <td><a th:href="@{'/products/' + ${p.id}}">[[${p.name}]]</a></td>
        <td>[[${p.price}]]</td>
    </tr>
</table>
</body>
</html>
